<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watcher.springboot.mapper.UserMapper">
   <select id="findAll" resultType="com.watcher.springboot.entity.User">
       select * from user
   </select>
    <insert id="insertUser">
        insert into User(name,password,email,isVip) values(#{name},#{password},#{email},#{isVip})
    </insert>
    <select id="findUserByEmail" resultType="com.watcher.springboot.entity.User">
        select * from user where email=#{email}
    </select>
</mapper>